BODY{
scroll:no;
overflow:hidden;
}
#DESKTOP{
display:table;
display:-moz-deck;
}
.DESKTOP .HEADER{
background-color:#123A53;
border-width:0px;
}
.DESKTOP .HEADER TD{
height:100px;
color:#FFFFFF;
vertical-align:middle;
}
#LOGODESKTOP{
max-height:90%;
cursor:default;
}
.DESKTOP .HEADER input{
font-size:14px;
width:230px;
height:20px;
-webkit-border-radius:15px;
-moz-border-radius:15px;
border-radius:15px;
--margin-left:40px;
padding-left:42px !important;
}
.DESKTOP .HEADER .iconSearch{
position:absolute;
left:126px;
top:42px;
color:#aaaaaa;
font-size:11px;
}
INPUT{
BACKGROUND-COLOR:#FFFFFF;
COLOR:#555555;
}
INPUT:focus{
BACKGROUND-COLOR:#FDFDE4;
COLOR:#000000;
}
.DESKTOP .HEADER I{
font-size:20px;
margin-right:40px;
color:#A9CCE3;
height:39px;
}
.DESKTOP .HEADER #iconoMenu{
margin-left:40px;
}
.FavoriteON{
color:#eaea0d;
}
.ICONDESKTOP{
color:#A9CCE3;
}
.STATELINE-BOX{
background-color:#F4F4F4;
}
#STATELINE{
-webkit-border-radius:25px;
-moz-border-radius:25px;
border-radius:25px;
display:inline-block;
padding-top:10px;
padding-bottom:10px;
padding-left:20px;
padding-right:20px;
margin-left:40px;
margin-top:20px;
margin-bottom:20px;
background-color:#F8F9F9;
color:#555555;
font-size:18px;
border-color:1px solid #555555;
box-shadow:3px 3px 5px rgba(0,0,0,0.2);
-moz-box-shadow:3px 3px 5px rgba(0,0,0,0.2);
-webkit-box-shadow:3px 3px 5px rgba(0,0,0,0.2);
}
#STATELINE span{
text-decoration:underline;
font-size:18px;
font-weight:bold;
}
#STATELINE .endBreadcrumb{
color:#2692BA;
}
.USERDEFINITION{
width:1px;
height:1px !important;
display:table;
margin-right:40px !important;
padding:5px;
}
.USERDEFINITION TD{
height:1px !important;
white-space:nowrap;
}
.USERDEFINITION I{
font-size:10px !important;
padding:0px !important;
margin-right:0px !important;
}
.USERDEFINITION:hover{
-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;
background-color:#2488ad;
cursor:pointer;
}
.USEROPTION{
---webkit-border-radius:10px;
---moz-border-radius:10px;
--border-radius:10px;
padding:10px;
background-color:#ffffff;
position:absolute;
display:none;
}
.opCambiarClave{
font-size:12px;
color:#2692BA;
cursor:pointer;
}
#_TREEBUTTON{
color:#123A53;
}
#_TREEBUTTON:hover{
color:{$pDesktop-10};
}
#_TREEBUTTON:active{
color:{$pDesktop-20};
}
.TREEMAIN{
--display:table;
--display:-moz-deck;
background-color:#123A53;
}
.TREEMAIN TABLE{
border-collapse:collapse;
}
.TREEMAIN TR{
display:table-row;
}
.TREEMAIN TD{
display:table-cell;
text-align:left;
vertical-align:middle;
padding:12px;
}
.TREEMAIN TR TD:nth-child(1){
width:100%;
}
.TREEMAIN svg, .TREEMAIN IMG, .TREEMAIN I{
margin-right:10px;
float:left;
}
.TREEMAIN SPAN {
display:table-cell;
vertical-align:middle;
text-align:center;
white-space:nowrap;
}
.TREEMAIN .ICONHIDDEN{
display:block;
float:left;
}
.TREEMAIN #tab_0 {padding-left:25px;}
.TREEMAIN #tab_1 {padding-left:50px;}
.TREEMAIN #tab_2 {padding-left:75px;}
.TREEMAIN #tab_3 {padding-left:100px;}
.TREEMAIN #tab_4 {padding-left:125px;}
.TREEMAIN #tab_5 {padding-left:150px;}
.TREEMAIN #tab_6 {padding-left:175px;}
.TREEMAIN TR[nivel='1'] {background-color:#154360;}
.TREEMAIN TR[nivel='2'] {background-color:#154360;}
.TREEMAIN TR[nivel='3'] {background-color:#154360;}
.TREEMAIN TR[nivel='4'] {background-color:#154360;}
.TREEMAIN TR[nivel='5'] {background-color:#154360;}
.TREEMAIN TR[nivel='6'] {background-color:#154360;}
.TREEMAIN .LINEATR{
height:1px;
background-color:#123A53;
}
.TREEMAIN .LINEATR{
--display:block;
--display:grid;
--height:1px;
}
.TREEMAIN .LINEATR:hover{
background-color:#123A53;
cursor:default;
}
.TREEMAIN .LINEA{
--display:table;
background-color:#123A53;
height:1px;
padding:0px;
margin:0px;
}
.TREEMAIN .LINEA:hover{
background-color:#123A53;
}
.TREEMAIN .SECTIONLINE td:nth-child(1) {
background-color:#123A53;
color:#FFFFFF;
}
.TREEMAIN .SECTIONLINE td:nth-child(1):hover{
background-color:#123A53;
color:#FFFFFF;
cursor:default;
}
.TREEMAIN TR{
background-color:#123A53;
color:#A9CCE3;
cursor:pointer;
}
.TREEMAIN TR:hover{
BACKGROUND-COLOR:#123A53;
COLOR:#FFFFFF;
}
.TREEMAIN TR:active{
BACKGROUND-COLOR:#11354b;
}
.TREEMAIN TR TD:nth-child(1) svg, .TREEMAIN TR TD:nth-child(1) I {fill:#A9CCE3;}
.TREEMAIN TR TD:nth-child(1) I, .TREEMAIN TR TD:nth-child(2) I {color:#A9CCE3;}
.TREEMAIN TR:hover TD:nth-child(1) svg, .TREEMAIN TR:hover TD:nth-child(2) I {fill:#FFFFFF;}
.TREEMAIN TR:hover TD:nth-child(1) I, .TREEMAIN TR:hover TD:nth-child(2) I {color:#FFFFFF;}
.TREEMIN{
display:table;
display:-moz-deck;
background-color:#123A53;
}
.TREEMIN TABLE{
border-collapse:collapse;
}
.TREEMIN TR{
display:table-row;
background-color:#123A53;
color:#A9CCE3;
cursor:pointer;
}
.TREEMIN TR I{
COLOR:#A9CCE3;
}
.TREEMIN TR svg{
fill:#A9CCE3;
}
.TREEMIN TR:hover{
BACKGROUND-COLOR:#123A53;
COLOR:#FFFFFF;
}
.TREEMIN TR:active{
BACKGROUND-COLOR:#11354b;
}
.TREEMIN TR:hover I{
COLOR:#FFFFFF;
}
.TREEMIN TR:hover svg{
fill:#FFFFFF;
}
.TREEMIN .SECTIONLINE{
background-color:#123A53 !important;
}
.TREEMIN TD{
display:table-cell;
text-align:center;
vertical-align:middle;
padding:12px;
}
.TREEMIN SPAN {
display:table-cell;
vertical-align:middle;
text-align:center;
white-space:nowrap;
}
.TREEMIN .HEADERSTATIC{
background-color:#123A53;
color:#FFFFFF;
}
.TREEMIN .HEADERSTATIC svg{
fill:#FFFFFF;
}
.SUBTREE{
position:absolute;
left:0px;
top:0px;
border-left:0px !important;
}
.SUBTREE TABLE{
border-collapse:collapse;
}
.SUBTREE TR{
display:table-row;
background-color:#154360;
color:#A9CCE3;
cursor:pointer;
}
.SUBTREE TR:hover{
background-color:#123A53;
color:#FFFFFF;
}
.SUBTREE TR:active{
BACKGROUND-COLOR:#11354b;
}
.SUBTREE TR TD:nth-child(1) svg, .SUBTREE TR TD:nth-child(1) I {fill:#A9CCE3;}
.SUBTREE TR TD:nth-child(1) I, .SUBTREE TR TD:nth-child(2) I {color:#A9CCE3;}
.SUBTREE TR:hover TD:nth-child(1) svg, .SUBTREE TR:hover TD:nth-child(2) I {fill:#FFFFFF;}
.SUBTREE TR:hover TD:nth-child(1) I, .SUBTREE TR:hover TD:nth-child(2) I {color:#FFFFFF;}
.SUBTREE .SECTIONLINE:hover{
background-color:#123A53;
}
.SUBTREE>TABLE>TBODY>TR:first-child{
background-color:#123A53 !important;
color:#FFFFFF !important;
cursor:default;
}
.SUBTREE TD{
display:table-cell;
text-align:left;
vertical-align:middle;
padding:12px;
}
.SUBTREE svg, .SUBTREE IMG, .SUBTREE I{
margin-right:10px;
float:left;
}
.SUBTREE SPAN {
display:table-cell;
vertical-align:middle;
text-align:center;
white-space:nowrap;
}
.SUBTREE .ICONHIDDEN{
display:block;
float:left;
}
.SUBTREE #tab_0 {padding-left:0px;}
.SUBTREE #tab_1 {padding-left:25px;}
.SUBTREE #tab_2 {padding-left:50px;}
.SUBTREE #tab_3 {padding-left:75px;}
.SUBTREE #tab_4 {padding-left:100px;}
.SUBTREE #tab_5 {padding-left:125px;}
.SUBTREE #tab_6 {padding-left:150px;}
.SUBTREE .LINEATR{
height:1px;
background-color:#123A53;
}
.SUBTREE .LINEATR{
--display:block;
--display:grid;
--height:1px;
}
.SUBTREE .LINEATR:hover{
background-color:#123A53;
cursor:default;
}
.SUBTREE .LINEA{
--display:table;
background-color:#123A53;
height:1px;
padding:0px;
margin:0px;
}
.SUBTREE .LINEA:hover{
background-color:#123A53;
}
.TREEMAIN .CURRENT, .SUBTREE .CURRENT{
color:#eaea0d;
}
.SCREENSHOT{
cursor:context-menu;
}